@charset 'utf-8';

/* Image preloading */
body.loading:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
}

body {
	margin: 0;
	padding: 0;
	cursor: default;
	background: #fff;
	color: #888;
}

body, input, textarea, select, button {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#logo {
	height: 5em;
	background: #888;
}

.menu ul, .menu li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.menu li {
	display: inline-block;
	margin-right: 1em;
}
.menu li:last-child {
	margin-right: 0;
}
.menu a {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	font-weight: bold;
	border-left: 0.2em solid #ea0;
	border-right: 0.2em solid #fff;
	color: #555;
}
.menu a:hover,
.menu .current a {
	background: #ea0;
	color: #fff;
	border-right-color: #ea0;
}

#header {
	background: #eee;
}

#content {
	width: 800px;
	margin: 0 auto;
}

#footer {
	margin-top: 1em;
	padding: 1em;
	background: #eee;
	text-align: center;
}
